::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F4F1FF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #CBC5E3;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E2DFEE;
}

body {
    color: var(--text);
    background-color: var(--bg);
}
:root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}